<html>
<% include globHead.ejs%> <!--auta ta kolpa ta kanei to ejs-->
  <body class="body">


     
<div class="container-fluid">

	<!--header divisions -->
 <div class="row">
 	<div class="col-xs-12 header text-center">
 		
				<div class="col-xs-2">
					   <span class="glyphicon glyphicon-align-left"></span> 
				</div>
							<!-- Modal -->
								  <div class="modal fade" id="myModal" role="dialog">
								    <div class="modal-dialog">
								    
								      <!-- Modal content-->
								      <div class="modal-content" id="modaldiv">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title" id="modalheader">Pick Your Mountain</h4>
								        </div>
								        <div class="modal-body">
								          <img src="images/map.jpg" alt="greece map" id="modalimg" width="560">
								          <button type="button" onclick="hide1()">Hide Parnassos 1</button>  
								          <button type="button" onclick="hide2()">Hide Parnassos 2</button>  
								          <button type="button" onclick="hide3()">Hide Parnassos 3</button>             <!--  Test Js Button -->
								        </div>
								        <div class="modal-footer">
								          <button type="button" id="modalbutton2" class="btn btn-default" data-dismiss="modal">Close</button>
								        </div>
								      </div>
								    </div>
								  </div>
							<!--end of modal-->
				

			<div class="col-xs-8">
			   <img class="logo" src="images/snowmeLogo.png" >	
			</div>	

			<div class="col-xs-2">
				<button type="button" class="addButton" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-plus"></span> </button>
			</div>
			
</div>
</div>
</div> 

<!--end of header divisions-->


<!--Kavlavrita DIV  Jorje -->


<div class="container">
<!--Parnassos DIV Alexandro EL SENORITA  -->
			
			<div id="snowpark1" class="panel panel-default list">
			
			 <div class="row">

			 	<!--LEFT part of snowparks column-->
		    	<div class=" col-xs-12 col-sm-4 "> 
		    		<div class="row">
		    		<div class="parkLable col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1">
				    		<div class="row parkNameRow">
						    		<div class="col-xs-1 titleDot"><img src="images/greenDot.png" height="25" width="25"></div>
									<div class="col-xs-7"><p class="parkTitle">Parnassos</p>  
									</div>
									
									

									<fieldset class="rating">
								    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
								    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
								    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
								    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
								    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
									</fieldset>
								  
									
							</div>	
							<!--- Start eWeather iFrame-->
								<iframe id="eWeatherFrame" src="http://www.weatherexpert.gr/weatherexpert/public/box/hbox.php?number=9928670&c5=ffffff&c6=c6ccc6&c7=909a87&c8=ffffff&c9=47ec6e&c10=cc9900&c12=0076a3&plot=wtrps&steps=6&tp=0&lang=en" scrolling=no frameborder=0 width=410 height=178></iframe>
							<!--- End eWeather iFrame-->


							
							</div>
					</div>		
		    	</div>	

		    	<!--MIDDLE part of snowparks column-->
		    	<div class="panel-body col-xs-12 col-sm-4 ">
			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4 "><img class="midIcons" src="images/lift.png"></div>
				    	<div class="col-xs-4 "><img  class="midIcons" src="images/skier.png"></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			 









		    	</div> 

		    	<!--RIGHT part of snowparks column-->
		    	<div class="panel-body col-xs-12 col-sm-3 " > 
			    	
			    	<div class="row wrap">

				    	<div class=" col-xs-10 col-xs-offset-1">
				    	<iframe class="frame "  scrolling="no" src="http://www.kalavrita-ski.gr/snowcams/camera4.jpg">
				    	</iframe> 
				    	</div>
			    	</div>
			    	<div class="row wrap">
				    	<div class="col-xs-10 col-xs-offset-1">
				    	<iframe class="frame"  scrolling="no" src="http://www.kalavrita-ski.gr/snowcams/camera1.jpg">
				    	</iframe> 
				    	</div>
			    	</div>
			    	
		   
		    


		    </div>
		    </div>	
		</div>


<!--Parnassos DIV Alexandro EL SENORITA  2-->
			
			<div id="snowpark2" class="panel panel-default list">
			
			 <div class="row">

			 	<!--LEFT part of snowparks column-->
		    	<div class=" panel-body col-xs-12 col-sm-4 "> 
		    		<div class="row">
		    		<div class="parkLable col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1">
				    		<div class="row parkNameRow">
						    		<div class="col-xs-1 titleDot"><img src="images/greenDot.png" height="25" width="25"></div>
									<div class="col-xs-8"><p class="parkTitle">Parnassos</p> </div>
							</div>	
							<div class="row dayIconsRow">
						    		<div class="col-xs-2"><p>Mon</p> </div>
						    		<div class="col-xs-2">Tue </div>
						    		<div class="col-xs-2">Wed </div>
						    		<div class="col-xs-2">Thu </div>
						    		<div class="col-xs-2">Fri </div>
							</div>	

							<div class="row weatherIconsRow">
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Snow.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Snow.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Snow.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Sun.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Cloud.png"></div>
							</div>	

							<div class="row tempIconsRow">
						    		<div class="col-xs-2"><p>5º/10º</p> </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
							</div>	

							<div class="row tempIconsRow">
						    		<div class="col-xs-12"><b>Right Now:</b><p> Sunny weather with fresh snow</p> </div>
						    		
							</div>	
							</div>
					</div>		
		    	</div>	

		    	<!--MIDDLE part of snowparks column-->
		    	<div class="panel-body col-xs-12 col-sm-4 ">
			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4 "><img class="midIcons" src="images/lift.png"></div>
				    	<div class="col-xs-4 "><img  class="midIcons" src="images/skier.png"></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>
		    	</div> 

		    	<!--RIGHT part of snowparks column-->
		    	<div class="panel-body col-xs-12 col-sm-3 " > 
			    	
			    	<div class="row wrap">

				    	<div class=" col-xs-10 col-xs-offset-1">
				    	<iframe class="frame "  scrolling="no" src="http://www.kalavrita-ski.gr/snowcams/camera4.jpg">
				    	</iframe> 
				    	</div>
			    	</div>
			    	<div class="row wrap">
				    	<div class="col-xs-10 col-xs-offset-1">
				    	<iframe class="frame"  scrolling="no" src="http://www.kalavrita-ski.gr/snowcams/camera1.jpg">
				    	</iframe> 
				    	</div>
			    	</div>
			    	
		   
		    


		    </div>
		    </div>	
		</div>

<!--Parnassos DIV Alexandro EL SENORITA  3-->
			
			<div id="snowpark3" class="panel panel-default list">
			
			 <div class="row">

			 	<!--LEFT part of snowparks column-->
		    	<div class=" panel-body col-xs-12 col-sm-4 "> 
		    		<div class="row">
		    		<div class="parkLable col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1">
				    		<div class="row parkNameRow">
						    		<div class="col-xs-1 titleDot"><img src="images/greenDot.png" height="25" width="25"></div>
									<div class="col-xs-8"><p class="parkTitle">Parnassos</p> </div>
							</div>	
							<div class="row dayIconsRow">
						    		<div class="col-xs-2"><p>Mon</p> </div>
						    		<div class="col-xs-2">Tue </div>
						    		<div class="col-xs-2">Wed </div>
						    		<div class="col-xs-2">Thu </div>
						    		<div class="col-xs-2">Fri </div>
							</div>	

							<div class="row weatherIconsRow">
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Snow.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Snow.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Snow.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Sun.png"></div>
						    		<div class="col-xs-2"><img class="resize" src="images/weatherIcons/Cloud.png"></div>
							</div>	

							<div class="row tempIconsRow">
						    		<div class="col-xs-2"><p>5º/10º</p> </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
						    		<div class="col-xs-2"><p>5º/10º</p>  </div>
							</div>	

							<div class="row tempIconsRow">
						    		<div class="col-xs-12"><b>Right Now:</b><p> Sunny weather with fresh snow</p> </div>
						    		
							</div>	
							</div>
					</div>		
		    	</div>	

		    	<!--MIDDLE part of snowparks column-->
		    	<div class="panel-body col-xs-12 col-sm-4 ">
			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4 "><img class="midIcons" src="images/lift.png"></div>
				    	<div class="col-xs-4 "><img  class="midIcons" src="images/skier.png"></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>

			    	<div class="row">
				    	<div class="col-xs-offset-2 col-xs-4"><div class="panel status">ΔΑΦΝΗ</div></div>
				    	<div class="col-xs-4 "><div class="panel status">ΑΧΙΛΕΑΣ</div></div>
			    	</div>
		    	</div> 

		    	<!--RIGHT part of snowparks column-->
		    	<div class="panel-body col-xs-12 col-sm-3 " > 
			    	
			    	<div class="row wrap">

				    	<div class=" col-xs-10 col-xs-offset-1">
				    	<iframe class="frame "  scrolling="no" src="http://www.kalavrita-ski.gr/snowcams/camera4.jpg">
				    	</iframe> 
				    	</div>
			    	</div>
			    	<div class="row wrap">
				    	<div class="col-xs-10 col-xs-offset-1">
				    	<iframe class="frame"  scrolling="no" src="http://www.kalavrita-ski.gr/snowcams/camera1.jpg">
				    	</iframe> 
				    	</div>
			    	</div>
			    	
		   
		    


		    </div>
		    </div>	
		</div>

	
</div>


	<script src="/js/scriptTest.js"></script>
	<script src="js/bootstrap.min.js"></script>
    </body>
</html>
