body {background: url("/images/bgimage.jpg");background-position:center;background-size: cover;background-repeat: no-repeat;}

img.logo{height: 30px;padding-top: 5px;}


.rating {
    float:right;
    margin-top: 7px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:130%;
    line-height:1.2;
    color:#lightgreen;
    
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: lightgreen;
   
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: lightgreen;
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: lightgreen;

}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


img.resize{width:30px; height: auto;}

img.midIcons{width: 40px; margin-left: 35%; margin-bottom: 15%;}

div#kalavritadiv { opacity: 1.0;}

div.parkLable{background-color: #0076a3;  padding-bottom: 15px;  margin-top: -2px; margin-bottom:0px;
    border-radius: 0px 0px 5px 5px; }

div.header{	background-color: #0076a3;	height: 45px; 	padding-top:5px; }

button { background-color: #0076a3; border-color: #0076a3;}

div.list{background-color: white;margin: 20px;opacity: 1.0;}

div.parkNameRow{margin:5px;}

div.dayIconsRow{margin-left:10px;font-weight: 500;text-align: center;}

div.weatherIconsRow{margin-left:10px;}

div.tempIconsRow{margin-left:10px;margin-top:5px;font-size: 13;font-weight: 500;}

div.titleDot{margin-top: 5px}

button.addButton{border: none;}

p.parkTitle{font-size: 24; font-weight: 500;}

div.status{background-color: lightgreen;text-align: center;}
span {font-size: 25px; color:white;}

img#modalimg{ background-size: cover;  }

h4#modalheader { font-family: fantasy; color: white;0 font-size: 25px;}

div#modaldiv { background-color: #0076a3; }

button#modalbutton2 { background-color: #0076a3; color: white;}



.wrap{
    margin-left: auto;
    margin-right: auto;
    height: 102px;
     margin-top: 3%;
    overflow: hidden;}

.frame {

    
    
    margin-top:-50px;
    width: 1037px;
    height: 786px;
    border: 0;
    -ms-transform: scale(0.40);
    -moz-transform: scale(0.40);
    -o-transform: scale(0.40);
    -webkit-transform: scale(0.40);
    transform: scale(0.30);
    
    -ms-transform-origin: 5 5;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 10 10;
}
 div.container-full{margin: 0 auto;width: 100%;}